@model Categorie

<div>
	<form method="post">

		<div asp-validation-summary="All"></div>


		<h2>Entre your Categorie Name : </h2>
		<input asp-for="Name" />
		<span asp-validation-for="Name"></span>

		<h2>Entre your Categorie Name : </h2>
		<input asp-for="DisplayOrder" />
		<span asp-validation-for="DisplayOrder"></span>

		<button type="submit">Update</button>
		<a asp-controller="Categorie" asp-action="Index">Cancel</a>
	</form>
</div>

